body{
  background-color:#FFFFFF;
  }
#menu{
  text-align:center;
  }

#menu ul{
  list-style:none;
  }

#menu ul li{
  float:left;
  padding:10px;
  margin:5px;
  border: 1px solid #CCC;
  border-radius:5px;
  }

#menu ul li a {
  text-decoration:none;
  }

#menu ul li a:hover {
  text-decoration:underline;
  display:block;   
  }
